@using WEbBsp_EInführung.Models; 
@model List<Article>;

@{
    ViewData["Title"] = "Index";
}

@*
    @model... hier muss der übergebene Datentyp (von der Actionmethode) angeg. werden
    @Model... die Instanz vom Typ wie in @model angegeben
    
*@


@if( Model == null || Model.Count == 0)
{
    <p>
        Es sind keine Artikel im SHop vorhanden
    </p>
}
else
{
    <table>
        <thead>
            <tr>
                <td colspan="6">Shopartikel</td>
            </tr>
     

        </thead>
        <tbody>
            <tr>
                <td>Artikel-ID</td>
                <td>Artikelname</td>
                <td>Hersteller</td>
                <td>Erscheinungsdatum</td>
                <td>Preis</td>
                <td>Kategorie</td>
            </tr>
            @foreach (Article item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.ArticleName</td>
                    <td>@item.Brand</td>
                    <td>@item.ReleaseDate</td>
                    <td>@item.Price</td>
                    <td>@item.category</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">unsere besonderen Artikel</td>
            </tr>

        </tfoot>


    </table>
}

