@using Meine_Website.Models
@model List<Account>
@{
    ViewData["Title"] = "RegisteredAccounts";
}
@if ((Model == null || Model.Count == 0)) {
    <p> Es wurden noch keine Accounts registriert </p>
} else {
<style>
    table{
        font-family: Arial, sans-serif;
        border-collapse:collapse;
        width: 100%;
    }

    td,th{
        border: 1px solid #dddddd;
        text-align:left;
        padding: 8px;
    }
    tr:nth-child(even){
        background-color: #dddddd;
    }

    


    
</style>
<table>
    
   
    
        <tr>
            <th>Account-ID</th>
            <th>Username</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Passwort</th>
            <th>Geburtsdatum</th>
            <th>Ist Moderator</th>
        </tr>
        @foreach(Account a in Model) {
    <tr>
        <td>@a.AccountID</td>
        <td>@a.Username</td>
        <td>@a.Vorname</td>
        <td>@a.Nachname</td>
        <td>@a.Email</td>
        <td>*****************************</td>
        <td>@a.Geburtsdatum.Value.ToShortDateString()</td>
        <td>@a.istModerator.ToString()</td>
        <td><form action="/account/DeleteAcc/@a.AccountID" method="post">    
            <input type="submit" value="löschen" />
            </form></td>


    </tr>
        }

   
</table>

}